<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - DIDIC Veracruz</title>
        {% else %}
            <title>DIDIC Veracruz</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}">Inicio</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('curso_permanente') }}">Inscribirse al Curso Permanente</a>
                <a href="{{ url_for('entrar') }}">Entrar al Curso</a></div>
            {% else %}
                <a href="{{ url_for('logout') }}">Salir</a>
            {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>