<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - DIDIC Veracruz</title>
        {% else %}
            <title>DIDIC Veracruz</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('curso_permanente') }}">Inscribirse al Curso Permanente</a>
            <a href="{{ url_for('entrar') }}">Entrar al Curso</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>